body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #2a2a2a;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 3fr 7fr;
}
.container .left-column {
  padding: 20px;
  margin-left: 2em;
}
.container .left-column .logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
.container .left-column .logo img {
  width: 30px;
  height: 30px;
  margin-top: 0;
  margin-right: 10px;
}
.container .left-column .logo h1 {
  margin: 0;
}
.container .left-column .menu {
  list-style-type: none;
  padding: 0;
}
.container .left-column .menu li {
  margin-bottom: 10px;
}
.container .left-column .menu li a {
  text-decoration: none;
  color: inherit;
  position: relative;
  position: relative;
}
.container .left-column .menu li a:hover:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}
.container .left-column .menu li a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}
.container .right-column {
  padding: 20px;
}
.container .right-column .project {
  margin-bottom: 2em;
}
.container .right-column .project a {
  text-decoration: none;
  color: inherit;
}
.container .right-column .project a h2,
.container .right-column .project a h3 {
  margin: 0;
}
.container .right-column .project a h2 {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}
.container .right-column .project a h2 .arrow {
  margin-left: 0.3em;
  transition: transform 0.3s ease;
}
.container .right-column .project a h2:hover .arrow {
  transform: translateX(5px);
}
.container .right-column .project a p {
  margin: 0;
}
.container .right-column .project img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

hr {
  background-color: white;
}

footer {
  display: grid;
  grid-template-columns: 3fr 7fr;
}
footer p {
  margin-top: 0;
}
footer .footer-column {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
footer .footer-column .about-n-contact {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
footer .footer-column .about-n-contact .about,
footer .footer-column .about-n-contact .contact {
  flex: 1;
  margin-bottom: 1em;
  justify-content: space-around;
}
footer .footer-column .about-n-contact .about .footer-info,
footer .footer-column .about-n-contact .contact .footer-info {
  flex-wrap: wrap;
}
footer .footer-column .about-n-contact .about .footer-info .footer-info-column,
footer .footer-column .about-n-contact .contact .footer-info .footer-info-column {
  display: flex;
  align-items: end;
  margin-bottom: 1em;
}
footer .footer-column .about-n-contact .about .footer-info .footer-info-column a,
footer .footer-column .about-n-contact .contact .footer-info .footer-info-column a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
footer .footer-column .about-n-contact .about .footer-info .footer-info-column a img,
footer .footer-column .about-n-contact .contact .footer-info .footer-info-column a img {
  width: 20px;
  margin-right: 5px;
  filter: invert(79%) sepia(17%) saturate(0) brightness(98%) contrast(99%);
}
footer .footer-column .about-n-contact .about .footer-info .footer-info-column span,
footer .footer-column .about-n-contact .contact .footer-info .footer-info-column span {
  margin-right: 10px;
  position: relative;
}
footer .footer-column .about-n-contact .about .footer-info .footer-info-column span:hover:after,
footer .footer-column .about-n-contact .contact .footer-info .footer-info-column span:hover:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}
footer .footer-column .about-n-contact .about .footer-info .footer-info-column span:after,
footer .footer-column .about-n-contact .contact .footer-info .footer-info-column span:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}
footer .footer-column .about-n-contact .about h2,
footer .footer-column .about-n-contact .contact h2 {
  margin-bottom: 10px;
}
footer .footer-column .about-n-contact .about form,
footer .footer-column .about-n-contact .contact form {
  display: flex;
  flex-direction: column;
}
footer .footer-column .about-n-contact .about form input,
footer .footer-column .about-n-contact .about form textarea,
footer .footer-column .about-n-contact .contact form input,
footer .footer-column .about-n-contact .contact form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
footer .footer-column .about-n-contact .about form button,
footer .footer-column .about-n-contact .contact form button {
  padding: 10px 20px;
  background-color: white;
  color: #2a2a2a;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
footer .footer-column .about-n-contact .about form button:hover,
footer .footer-column .about-n-contact .contact form button:hover {
  background-color: #cccccc;
}/*# sourceMappingURL=main.css.map */